@charset "utf-8";

/* CSS Document */

.header,
.slider_container,
.wrapper-intro {
  top:-20px !important;
  position:relative;
}
form p input  {
  height:20px !important;
  padding-top:12px !important;}
