@charset "utf-8";

/* CSS Document */

.about-blurd { background:#fff !important; }
.about-banner-request-quote { position:relative !important; top:-12px !important; }
.wrapper-services .services-main-banner .col ol li { margin-left:26px !important;}
#boxes { z-index:999999 !important; }
.request-code-top h2 { height:24px !important; padding-bottom:20px !important;}
.form-top-contact h2 { padding-bottom:20px !important;}
.just-ie-pull {
  position:relative;
  top:-70px !important; }
 .work-clients {
  position:relative;
  top:-50px !important;}

    
  