@charset "utf-8";

/* CSS Document */

#boxes { z-index:999999 !important; }
.request-code-top h2 { height:24px !important; padding-bottom:20px !important;}
.just-ie-pull {
  position:relative;
  top:-70px !important; }
 .work-clients {
  position:relative;
  top:-50px !important;}
  
  .portfolio_height {
  height:400px;
  background:none;
  }