@charset "utf-8";

/* CSS Document */

#mask {
 position:absolute;
 left:0;
 top:0;
 z-index:9999;
 background-color:#000;
 display:none;
}

#boxes {
 top:120px;
 position:absolute;
}

#boxes .window {
 position:absolute;
 left:0;
 top:0;
 display:none;
 z-index:99999;
 padding:20px;
 background:#000;
 width:753px;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
}

#boxes #request_a_quote { width:753px; }

#boxes #dialog { background-color:#ffffff; }

#boxes .window a.close {
 background: url(../images/form/btn-form-close.png) no-repeat 0 0;
 width: 34px;
 height: 35px;
 overflow: hidden;
 display: block;
 cursor: pointer;
 position: absolute;
 right: 4px;
 top: 3px;
}

#boxes .window a.close:hover { background-position:0 -35px; }

/*  form */
.temp-form-container {
 padding:20px;
 width:753px;
 margin:0 auto;
 background: #E1E1E1;
 margin-bottom:40px;
}

.form-content {
 padding:0 15px;
 background:url(../images/form/form-background-02.gif) repeat-y 0 0;
}

.form-top { }

.form-top h2 {
 width: 360px;
 float: left;
 font-size: 34px;
 font-weight: bold;
 padding-left: 20px;
 text-shadow: 0 1px 0 #D4EEBD;
}

.form-top2 h2 {
 width: 324px;
 float: left;
 font-size: 34px;
 font-weight: bold;
 padding-left: 20px;
 text-shadow: 0 1px 0 #D4EEBD;
}


.form-top-contact {
 background: url(../images/form/form-contact-top.gif) no-repeat 0 0;
 height:110px;
}

.form-top-contact h2 { padding-top: 44px; }

.contact-form-details {
 width:400px;
 float:right;
 color:#000;
 padding-top: 14px;
}

.contact-form-details p {
 float:left;
 padding-left:22px;
 font-size:12px;
 padding-bottom:0;
 line-height:20px;
}

.contact-form-details p a {
 text-decoration:underline;
 color:#000;
}

.contact-form-details p a:hover { text-decoration:none; }

.contact-form-details p.company-name {
 font-size:20px;
 font-weight:bold;
 padding-left:0;
 width: 364px;
 padding-bottom: 6px;
}

.contact-form-details p.contact-left { width:123px; }

.contact-form-details p.contact-right { width:188px; }

.contact-form-details p.icon-mob { background:url(../images/form/contact-icons.gif) no-repeat 0 0; }

.contact-form-details p.icon-land { background:url(../images/form/contact-icons-02.gif) no-repeat 0 0; }

.contact-form-details p.icon-email { background:url(../images/form/contact-icons-04.gif) no-repeat 0 2px; }

.contact-form-details p.icon-fax { background:url(../images/form/contact-icons-03.gif) no-repeat 0 2px; }

.contact-form-details p.icon-add { background:url(../images/form/contact-icons-05.gif) no-repeat 0 2px; }

.request-code-top {
 background:url(../images/form/form-background.gif) no-repeat 0 0;
 height: 70px;
}

.request-code-top h2 { padding-top:26px; }

.form-bottom { height:26px; }

form .error_msg {
 background: none repeat scroll 0 0 yellow;
 border-radius: 9px 9px 9px 9px;
 clear: both;
 color: red;
 font-size: 12px;
 font-weight: bold;
 padding: 2px 2px 2px 10px;
 width: 74%;
}

/*  all about form fields */
form,
input,
select { margin:0; }

form,
input,
select,
textarea { font-family:Arial, Helvetica, sans-serif; }

form {
 padding:34px;
 font-family:Arial, Helvetica, sans-serif;
}

form p { padding-bottom:18px; }

form p input,
form p select,
form p textarea {
 border:solid 1px #adabab;
 background:#fff;
 width:298px;
 height:26px;
 float:left;
 color:#666;
 font-size:14px;
 padding:6px;
}

form p input.input-padding,
select.input-padding { margin-right:28px; }

form p select {
 float:left;
 height: 34px;
 width: 312px;
 cursor:pointer;
 font-weight:normal;
}

form p select.contact-width {
 width: 312px;
 height: 40px;
}

form p textarea {
 height:60px;
 resize:none;
 font-weight:normal;
}

form p input:focus,
form p select:focus,
form p textarea:focus {
 border:solid 1px #67b601;
 background:#f4fee5;
 color:#333;
 -webkit-box-shadow: 0px 0px 8px 0px #5fb106;
 -moz-box-shadow: 0px 0px 8px 0px #5fb106;
 box-shadow: 0px 0px 8px 0px #5fb106;
 font-weight:bold;
}

form p input.error_field,
form p select.error_field,
form p textarea.error_field {
 -webkit-box-shadow: 0px 0px 8px 0px #f30431;
 -moz-box-shadow: 0px 0px 8px 0px #f30431;
 box-shadow: 0px 0px 8px 0px #f30431;
 border:solid 1px #dc4f4f;
 background:#fccccc;
}

form p label {
 float:left;
 width:315px;
 padding-right:25px;
 padding-top:6px;
}

form p.form-divider {
 height:25px;
 padding:5px 0;
 background:url(../images/form/form-divider.gif) repeat-x 0 4px;
}

form .sub-button {
 color: #FFFFFF;
 cursor: pointer;
 font-size: 14px;
 font-weight: bold;
 height: 26px;
 padding-top:5px;
 text-align:center;
 text-shadow: 0 1px 0 #70281A;
 width: 93px;
 border:none;
 background: url(../images/form/btn-submit.gif) no-repeat 0 -31px;
 margin-right:5px;
 float:right;
}

form .sub-button:hover {
 background-position:bottom;
 height:26px;
}

form .sub-button:active { background-position:0 0; }

form p span {
 font-size:11px;
 font-weight:bold;
 color:#F30;
 padding:0;
 margin:0;
 width:312px;
 display:block;
}

form p .input-correct {
 border:solid 1px #99cc33 !important;
 display:inline;
 background:#fff url(../images/form/verification.gif) no-repeat 288px 11px;
}

form p .input-wrong {
 background:#FF6;
 border:solid 1px #F30 !important;
}
