@charset "utf-8";

/* CSS Document */

body {
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
  font-size:0.75em;
  line-height:1.7em;
  color:#333;
  background:#f3f0f0 url(../images/common/repeat-background.gif) repeat-x 0 0;
}

div,
p,
h1,
h2,
ul {
  display:block;
  margin:0;
  padding:0;
}

a img,
img { border:none }

.clear { clear:both; }

input,
select,
textarea {
  outline:none;
  border:none;
}

/* -------------------------------------------------------- basic ------------- */
.container {
  width:960px;
  margin:0 auto;
}

.header {
  height:72px;
  padding-top:26px;
  background: url(../images/common/header-background.jpg) no-repeat 0 0;
}

h1 {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 2.95em;
  font-weight: 700;
  color: #365339;
  text-shadow: 0 1px 0 white;
  padding: 15px 0 16px 8px;
  border-bottom: 1px dashed #B7ABAB;
  margin-left: 38px;
}

span.squarefresco-bold {
  color: #3A673F;
  font-weight: normal;
  background: #F3F3F2;
  padding: 2px;
}

p { padding-bottom:15px; }

.wrapper-about p span,
.wrapper-technologies p span,
.wrapper-services p span { font-weight:bold; }

span.italic-text {
  font-style:italic;
  font-weight:normal !important;
}

p a {
  color:#294258;
  text-decoration:underline;
}

p a:hover {
  text-decoration:none;
  background:#cad9e5;
  border-bottom:1px dotted #e8f0f7;
  border-top:1px dotted #e8f0f7;
}

p a:active { background:#e1ebf3; }

.back-to-top {
  width:157px;
  position:absolute;
}

.back-to-top a {
  background:url(../images/common/btn-back-to-top.gif) no-repeat 0 0;
  height:38px;
  overflow:hidden;
  display:block;
  cursor:pointer;
  display:block;
}

.back-to-top a:hover { background:url(../images/common/btn-back-to-top.gif) no-repeat 0 bottom; }

.float-left { float:left; }

.float-right { float:right; }

/* -------------------------------------------------------- slider banner ------------- */

/*--Main Container--*/
.slider_container {
  float: left;
  position: relative;
  height:489px;
  padding-top:92px;
  background:#000 url(../images/common/slider-mega-background.gif) no-repeat 0 0;
}

/*--Window/Masking Styles--*/
.slider_window {
  height:489px;
  width: 960px;
  overflow: hidden; /*--Hides anything outside of the set width/height--*/
  position: relative;
}

.slider_image_reel {
  position: absolute;
  top: 0;
  left: 0;
}

.slider_image_reel img { float: left; }

/*--Paging Styles--*/
.slider_paging {
  position: absolute;
  bottom: 6px;
  right: 0;
  width: 178px;
  height:40px;
  z-index: 1000; /*--Assures the paging stays on the top layer--*/
  text-align: center;
  line-height: 40px;
  display: none; /*--Hidden by default, will be later shown with jQuery--*/
}

.slider_paging a {
  padding: 5px;
  text-decoration: none;
  color: #000;
  background: #9DCD72;
}

.slider_paging a.active {
  font-weight: bold;
  background: #000;
  color:#fff;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.slider_paging a:hover { background:orange; }

.slider-drop-shadow {
  background: url(../images/common/mega-background-shadow.png) no-repeat 0 0;
  width: 960px;
  height: 581px;
  z-index: 999;
  position:absolute;
  top:0;
}

.banner-left-shadow {
  position:absolute;
  left:0;
  top:0;
  z-index:888;
  background:url(../images/common/banner-side-shadow.png) no-repeat 0 0;
  width:109px;
  height:433px;
}

.banner-right-shadow {
  position:absolute;
  right:0;
  top:0;
  z-index:888;
  background: url(../images/common/banner-side-shadow-02.png) no-repeat 0 0;
  width:109px;
  height:433px;
}

/* -------------------------------------------------------- intro ------------- */
.wrapper-intro {
  height:300px;
  background: url(../images/common/intro-background.jpg) no-repeat 0 0;
  padding-bottom:60px;
  padding-top:30px;
}

.intro-left {
  width:338px;
  padding-left:34px;
  float:left;
}

.intro-right {
  width: 506px;
  float: left;
  padding-left: 32px;
}

.wrapper-intro p {
  background:url(../images/common/quote.gif) no-repeat 0 0;
  padding:10px 0 15px 50px;
  font-family:"Times New Roman", Times, serif;
  font-size:1.5em;
  line-height:1.35em;
  text-shadow:0 1px 0 #fff;
  color:#666;
  text-align:center;
}

.wrapper-intro p span {
  font-weight:bold;
  color:#333;
}

.wrapper-intro-logo {
  height:65px;
  padding-top:14px;
}

/* -------------------------------------------------------- about square fresco ------------- */
.wrapper-about {
  position:relative;
  height:595px;
  background: url(../images/about-squarefresco/about-squarefresco-background.jpg) no-repeat 0 0;
  padding: 185px 50px 90px 452px;
}

.about-top-btn {
  bottom: 77px !important;
  right: 15px !important;
}

h1.h1-about-width { width:370px; }

.about-blurd {
  padding:20px;
  background-color:rgba(255,255,255,0.7);
  width:480px;
  position:absolute;
  right:4px;
  top:10px;
  font:italic normal 2em "Times New Roman", Times, serif;
  color:#333;
}

.about-banner-request-quote {
  width:463px;
  height:110px;
}

.about-banner-request-quote a:hover img {
  opacity:0.8;
  top:1px;
  position:relative;
}

/* -------------------------------------------------------- services ------------- */
.wrapper-services {
  position:relative;
  height:1166px;
  background: url(../images/services/service-squarefresco-background.gif) no-repeat 0 0;
  padding-bottom:90px;
}

.services-top-btn {
  bottom: 87px !important;
  right: 16px !important;
}

h1.h1-services-width { width:190px; }

.services-main-banner {
  background: url(../images/services/service-squarefresco-banner.jpg) no-repeat 96px 42px;
  padding: 385px 44px 0 80px;
}

.wrapper-services .services-main-banner .col { width:392px; }

.wrapper-services .services-main-banner .col ol {
  margin-left:0;
  padding-left:0;
}

.wrapper-services .services-main-banner .col ol li {
  padding-left: 0;
  margin-left: 20px;
  list-style: decimal;
  list-style-position: outside;
  line-height: 16px;
  padding-bottom: 6px;
}

.wrapper-services .services-sub-banner {
  background: url(../images/services/service-squarefresco-banner-02.jpg) no-repeat 677px 49px;
  padding-top: 34px;
  padding-left: 81px;
  padding-right: 330px;
  height: 294px;
}

/* -------------------------------------------------------- technologies ------------- */
.wrapper-technologies {
  position:relative;
  height:954px;
  background: url(../images/technologies/technologies-background.gif) no-repeat 0 0;
  padding:48px 48px 90px 80px;
}

.technologies-top-btn {
  bottom: 88px !important;
  right: 15px !important;
}

h1.h1-technologies-width { width:274px; }

.wrapper-technologies .technologies-holder {
  width:390px;
  float:left;
  padding-top:15px;
  padding-bottom:10px;
}

.wrapper-technologies .technologies-holder .description {
  float:left;
  width:280px;
}

.wrapper-technologies .right-pad { padding-right:50px; }

.wrapper-technologies .technologies-holder .description p {
  padding-top:2px;
  line-height:16px;
}

.wrapper-technologies .technologies-holder .description p span {
  display:block;
  padding-bottom:8px;
  font-weight:bold;
}

.wrapper-technologies .technologies-icon {
  width:90px;
  height:90px;
  padding-right:12px;
  float:left;
}

/* -------------------------------------------------------- poftfolios ------------- */
.wrapper-poftfolios {
  position:relative;
  height:auto;
  /*background: url(../images/poftfolios/poftfolios-background.gif) no-repeat 0 0;*/
  background-color: #edecec; 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#edecec));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #edecec); 
  background-image:    -moz-linear-gradient(top, #f3f3f3, #edecec);
  background-image:     -ms-linear-gradient(top, #f3f3f3, #edecec);
  background-image:      -o-linear-gradient(top, #f3f3f3, #edecec);
  zoom: 1;
  border: 8px solid #dddcda;
  box-shadow:4px 4px 6px -3px rgba(0,0,0,0.5);
  -moz-box-shadow: 4px 4px 6px -3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 4px 4px 6px -3px rgba(0,0,0,0.5);
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=120, Color='#a9a9a9')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=120, Color='#a9a9a9');
  margin:10px 0px 80px 0px;
  padding:70px 0px 50px 25px;
}

.poftfolios-top-btn {
  bottom: -47px !important;
  right: -9px !important;
}

h1.h1-poftfolios-width { width:274px; }

.wrapper-poftfolios .work-wrapper {
  width:265px;
  float:left;
  background:url(../images/poftfolios/box-element-repeat-bg-02.gif) repeat-y 00;
  height:auto;
}

.wrapper-poftfolios .work-padding {
  padding-right:50px;
  margin-bottom:25px;
}

.wrapper-poftfolios .work-wrapper .top-bar {
  height: 34px;
  background: url(../images/poftfolios/box-element-top.gif) no-repeat 0 0;
  font-size: 14px;
  color: #263928;
  font-weight: bold;
  padding:10px 15px 0 46px;
}

.wrapper-poftfolios .work-wrapper .work-content {
  height:100px;
  padding: 15px 15px 0;
  line-height:14px;
  font-size:11px;
  color:#191d1a;
}

.wrapper-poftfolios .work-wrapper .thumbnail {
  height:137px;
  padding:0 9px;
}

.wrapper-poftfolios .work-wrapper .bottom-bar { height:10px; }

.wrapper-poftfolios .work-clients { padding:15px 0 0 8px; }

.wrapper-poftfolios .work-clients p {
  font-weight:bold;
  font-size:14px;
}

/* -------------------------------------------------------- footer ------------- */
.footer-container {
  background:#2e2e2e url(../images/common/footer-repeat-background.jpg) repeat-x 0 0;
  height:162px;
  width:100%;
}

.footer-container .footer-wrapper {
  height: 160px;
  background: url(../images/common/footer-background.jpg) no-repeat 0 0;
  width: 960px;
  margin: 0 auto;
}

.footer-container .footer-wrapper .footer-left {
  width:613px;
  float:left;
  padding-top: 97px;
  padding-left: 34px;
}

.footer-container .footer-wrapper .footer-left ul p {
  display: inline;
  padding: 0 11px;
  color: #666;
}

.footer-container .footer-wrapper .footer-left p.copyrights {
  color: #666;
  font-size: 11px;
  padding-bottom:0;
}

.footer-container .footer-wrapper .footer-left ul.sub-footer-link {
  height:15px;
  padding:4px 0 0 0;
}

.footer-container .footer-wrapper .footer-left ul.sub-footer-link li { padding-right: 12px; }

.footer-container .footer-wrapper .footer-left ul.sub-footer-link a {
  color:#666;
  text-decoration:none;
}

.footer-container .footer-wrapper .footer-left ul.sub-footer-link a:hover {
  color:#9DCD72;
  background:#333;
}

.footer-container .footer-wrapper .footer-left ul { }

.footer-container .footer-wrapper .footer-left ul li { display: inline; }

.footer-container .footer-wrapper .footer-left ul li a {
  font-size: 11px;
  color: #b8c0c6;
  text-decoration:none;
}

.footer-container .footer-wrapper .footer-left ul li a:hover {
  color:#9DCD72;
  background:#333;
}

.footer-container .footer-wrapper .footer-right { float:left; }

.footer-container .footer-wrapper .footer-right .quick-contact-tel {
  width: 195px;
  background: url(../images/common/footer-icon.gif) no-repeat 22px 24px;
  padding-top: 44px;
  padding-left: 96px;
  color: #DEE0E3;
  font-size: 18px;
  height: 48px;
}

.footer-container .footer-wrapper .footer-right .quick-contact-email {
  width: 195px;
  background: url(../images/common/footer-icon-02.gif) no-repeat 22px 0;
  padding-top: 18px;
  padding-left: 96px;
  height: 44px;
}

.footer-container .footer-wrapper .footer-right .quick-contact-email a {
  color: #DEE0E3;
  font-size: 18px;
  text-decoration:none;
}

.footer-container .footer-wrapper .footer-right .quick-contact-email a:hover { color:#9DCD72; }

/* -------------------------------------------------------- Main menu ------------- */
#sfresco_menu {
  position:absolute;
  top:102px;
  left:0px;
  z-index:9990;
  font-family:Arial, Helvetica, sans-serif;
  font-size:0.95em;
}

#sfresco_menu .label {
  padding:10px 20px;
  background: #9DCD72;
  color: black;
  letter-spacing: 1px;
  float: left;
  cursor: pointer;
  margin: 1px 0 0 1px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 1px 0 #DCF6C4;
}

#sfresco_menu .label:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background:#cfeeb4;
}

#sfresco_menu .menu { float:left; }

#sfresco_menu .menu .menu_item {
  display:block;
  background:#333;
  color:#fff;
  margin:1px 0 0 1px;
  padding:10px 20px;
  text-decoration:none;
  float:left;
  text-shadow:0 1px 0 #333;
}

#sfresco_menu .menu a.menu_item:hover { background:#252525; }

#sfresco_menu .menu a.menu_item:focus { background:#000; }
