<%@ Page Language="VB" AutoEventWireup="false" CodeFile="contact.aspx.vb" Inherits="Contact" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<title>Mobile Apps Developer Singapore | iPhone Apple iPad Application Development Companies | Square Fresco</title>
<meta name="keywords" content="Square Fresco, mobile applications, mobile solutions, mobile media marketing, mobile games development, apps developer, mobile developer in Singapore, iphone app developer, android developer, app store developer" />
<meta name="description" content="Square Fresco is the mobile developer in Singapore which has expertise in all popular mobile application platform; Android, iPhone, BlackBerry and Windows Phone." />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        Thanks you for your interest with Square Fresco</div>
    </form>
</body>
</html>
